# Analyzing Chicago crime data using Apache Spark.
Data Source https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2/data
We will learn little bit from Spark as well.

Import SparkSession
As of Spark 2.0, we only need to create SparkSession. We can create sparkContext from SparkSession.

In [1]:
from pyspark.sql import SparkSession

Build SparkSession using spark standalone mode.
Well, format is staright forward. Only thing to note here is the spark master server url. We can use local, mesos and yarn as well.

In [2]:
spark = SparkSession.builder.master("spark://10.142.0.2:7077").appName('Analyze Chicago crime data').getOrCreate()

Read crime data as parquet file from hdfs location. Use my other notebook csvToParquet.ipynb to convert this crime data from csv to parquet format.

spark.read provides many data source apis like csv, avro, parquet,json etc.

In [3]:
crimeData = spark.read.parquet("hdfs://localhost:9000/public/data/crime/parquet")

We are going to use crimeData dataframe a lot. So it is better to cache it in-memory. Simply call call cache() method on this dataframe.

In [4]:
crimeData.cache()

DataFrame[ID: int, CaseNumber: string, Block: string, IUCR: string, PrimaryType: string, Description: string, LocationDescription: string, Arrest: boolean, Domestic: boolean, Beat: int, District: int, Ward: int, CommunityArea: int, FBICode: string, XCoordinate: int, YCoordinate: int, Latitude: double, Longitude: double, ReportedTime: timestamp, UpdatedTime: timestamp]

Show data. For this we have method called show(). This is the action operation. By default show will display 20 rows only. We can give number of rows as argument as well like show(30) which will show 30 rows.

In [5]:
crimeData.show()

+--------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+-------------+-------+-----------+-----------+------------+-------------+-------------------+-------------------+
|      ID|CaseNumber|               Block|IUCR|         PrimaryType|         Description| LocationDescription|Arrest|Domestic|Beat|District|Ward|CommunityArea|FBICode|XCoordinate|YCoordinate|    Latitude|    Longitude|       ReportedTime|        UpdatedTime|
+--------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+-------------+-------+-----------+-----------+------------+-------------+-------------------+-------------------+
|10000092|  HY189866|     047XX W OHIO ST|041A|             BATTERY| AGGRAVATED: HANDGUN|              STREET| false|   false|1111|      11|  28|           25|    04B|    1144606|    1903566|41.891398861|-87.744384567|2015-03-18 19:44:00|2018-02-10 15:50:01|
|10000094|  HY190059|066XX S MARSHFIEL...|4625|       OTHER OFFENSE|    PAROLE VIOLATION|              STREET|  true|   false| 725|       7|  15|           67|     26|    1166468|    1860715|41.773371528|-87.665319468|2015-03-18 23:00:00|2018-02-10 15:50:01|
|10000095|  HY190052|044XX S LAKE PARK...|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 222|       2|   4|           39|    08B|    1185075|    1875622| 41.81386068|-87.596642837|2015-03-18 22:45:00|2018-02-10 15:50:01|
|10000096|  HY190054|051XX S MICHIGAN AVE|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 225|       2|   3|           40|    08B|    1178033|    1870804|41.800802415|-87.622619343|2015-03-18 22:30:00|2018-02-10 15:50:01|
|10000097|  HY189976|    047XX W ADAMS ST|031A|             ROBBERY|      ARMED: HANDGUN|            SIDEWALK| false|   false|1113|      11|  28|           25|     03|    1144920|    1898709|41.878064761|-87.743354013|2015-03-18 21:00:00|2018-02-10 15:50:01|
|10000098|  HY190032| 049XX S DREXEL BLVD|0460|             BATTERY|              SIMPLE|           APARTMENT| false|   false| 223|       2|   4|           39|    08B|    1183018|    1872537|41.805443345|-87.604283976|2015-03-18 22:00:00|2018-02-10 15:50:01|
|10000099|  HY190047|   070XX S MORGAN ST|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 733|       7|  17|           68|    08B|    1170859|    1858210|41.766402779|-87.649296123|2015-03-18 23:00:00|2018-02-10 15:50:01|
|10000100|  HY189988| 042XX S PRAIRIE AVE|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT| false|    true| 213|       2|   3|           38|    08B|    1178746|    1876914|41.817552577|-87.619818523|2015-03-18 21:35:00|2018-02-10 15:50:01|
|10000101|  HY190020| 036XX S WOLCOTT AVE|1811|           NARCOTICS|POSS: CANNABIS 30...|              STREET|  true|   false| 912|       9|  11|           59|     18|    1164279|    1880656|41.828138428|-87.672782106|2015-03-18 22:09:00|2018-02-10 15:50:01|
|10000104|  HY189964| 097XX S PRAIRIE AVE|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|   false| 511|       5|   6|           49|    08B|    1179637|    1840444| 41.71745472|-87.617663257|2015-03-18 21:25:00|2018-02-10 15:50:01|
|10000105|  HY189984|130XX S DR MARTIN...|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT/GARAG...| false|   false| 533|       5|   9|           54|     14|    1180907|    1818839|41.658138493|-87.613672862|2015-03-18 21:30:00|2018-02-10 15:50:01|
|10000108|  HY189719|078XX S VINCENNES...|2825|       OTHER OFFENSE|HARASSMENT BY TEL...|CTA GARAGE / OTHE...| false|    true| 623|       6|  17|           69|     26|    1175130|    1853144|41.752406801|-87.633792381|2015-03-15 16:10:00|2018-02-10 15:50:01|
|10000109|  HY189966|086XX S EXCHANGE AVE|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|DRIVEWAY - RESIDE...|  true|   false| 423|       4|  10|           46|     15|    1197309|    1848290|41.738563465|-87.552678593|2015-03-18 21:14:00|2018-02-10 15:50:01|
|10000110|  HY190056| 014XX S ASHLAND AVE|0460|             BATTERY|              SIMPLE|            SIDEWALK| false|   false|1233|      12|   2|           28|    08B|    1165950|    1893388| 41.86304084|-87.666288555|2015-03-18 22:50:00|2018-02-10 15:50:01|
|10000111|  HY190019| 051XX W CHICAGO AVE|0860|               THEFT|        RETAIL THEFT|         GAS STATION|  true|   false|1531|      15|  37|           25|     06|    1141741|    1904839|41.894945606|-87.754874977|2015-03-18 22:31:00|2018-02-10 15:50:01|
|10000112|  HY189725|077XX S KINGSTON AVE|0610|            BURGLARY|      FORCIBLE ENTRY|           APARTMENT| false|   false| 421|       4|   7|           43|     05|    1194535|    1854110|41.754602618|-87.562650741|2015-03-18 12:55:00|2018-02-10 15:50:01|
|10000114|  HY190071|   024XX W NORTH AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|               OTHER| false|   false|1423|      14|   1|           24|     07|    1159959|    1910569|41.910312648|-87.687806494|2015-03-18 20:00:00|2018-02-10 15:50:01|
|10000115|  HY190036| 069XX S LOOMIS BLVD|0890|               THEFT|       FROM BUILDING|  GROCERY FOOD STORE| false|   false| 734|       7|  17|           67|     06|    1168192|    1858832|41.768167414|-87.659053795|2015-03-18 21:00:00|2018-02-10 15:50:01|
|10000116|  HY190063|105XX S LAFAYETTE...|0470|PUBLIC PEACE VIOL...|    RECKLESS CONDUCT|               ALLEY|  true|   false| 512|       5|  34|           49|     24|    1177790|    1835106| 41.70284845|-87.624588931|2015-03-18 22:56:00|2018-02-10 15:50:01|
|10000117|  HY190068| 087XX S KIMBARK AVE|0890|               THEFT|       FROM BUILDING|       BAR OR TAVERN| false|   false| 412|       4|   8|           48|     06|    1186312|    1847473|41.736588206| -87.59299436|2015-03-18 22:45:00|2018-02-10 15:50:01|
+--------+----------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+-------------+-------+-----------+-----------+------------+-------------+-------------------+-------------------+
only showing top 20 rows

Run count on your dataframe.

In [6]:
crimeData.count()

6586188

Repartition data to 8 partition because I am using 4 cores machine. It is good to have partition in multiple of your number of cores for good performance. But there are other factors as well while deciding on a number.

repartition and coalesce are two operations to manage number of partitions. coalesce should be used only when you want to decrease the total number of partitions while repartition can be used any time but repartition is costly operation. So learn about repartiton and coalesce in more detail.

In [7]:
crimeData.repartition(8)

DataFrame[ID: int, CaseNumber: string, Block: string, IUCR: string, PrimaryType: string, Description: string, LocationDescription: string, Arrest: boolean, Domestic: boolean, Beat: int, District: int, Ward: int, CommunityArea: int, FBICode: string, XCoordinate: int, YCoordinate: int, Latitude: double, Longitude: double, ReportedTime: timestamp, UpdatedTime: timestamp]

Import functions like max, min, count etc.

In [8]:
from pyspark.sql import functions as F

For 2018 we don't have complete data as 2018 is the current year so I am removing records of 2018 from my data.

Spark dataframe API gives us filter() operation for filtering data based on some condition. Also year(timestamp) will return year of the timestamp.

In [9]:
crimeData = crimeData.filter(F.year('ReportedTime') != 2018)

First we will calculate how many crimes have been reported in each year.

For this we need to group our elements by year and then count. 

Here we have,

groupBy() which will group elements based on one or more fields passed to it.

alias() will give an alias to the column.

count() will simply count.

orderBy() will order the data based on one or more fields passed to it. By default it is in ascending order.

In [10]:
crimeData.groupBy(F.year('ReportedTime').alias('Year')).count().orderBy('Year').show()

+----+------+
|Year| count|
+----+------+
|2001|485742|
|2002|486749|
|2003|475929|
|2004|469371|
|2005|453693|
|2006|448086|
|2007|436981|
|2008|427013|
|2009|392628|
|2010|370262|
|2011|351703|
|2012|335855|
|2013|306915|
|2014|274992|
|2015|263694|
|2016|268504|
|2017|266967|
+----+------+

If you see the header then one of the most important field is the primary crime type. Here we are calculating how many primary crime type are there in the dataset.

select() will select only the mentioned fields from the dataframe. It is like select in the SQL.

distincit() will remove the select only the one row from duplicate rows.

In [11]:
crimeData.select('PrimaryType').distinct().count()

35

Lets find the name of each type. In case you are wondering why I am using show like show(35,False) because 35 is the number of distinct primary crime type and False because I want spark to adjust column width to longest string name.

In [12]:
crimeData.select('PrimaryType').distinct().show(35, False)

+---------------------------------+
|PrimaryType                      |
+---------------------------------+
|OFFENSE INVOLVING CHILDREN       |
|STALKING                         |
|PUBLIC PEACE VIOLATION           |
|OBSCENITY                        |
|NON-CRIMINAL (SUBJECT SPECIFIED) |
|ARSON                            |
|DOMESTIC VIOLENCE                |
|GAMBLING                         |
|CRIMINAL TRESPASS                |
|ASSAULT                          |
|NON - CRIMINAL                   |
|LIQUOR LAW VIOLATION             |
|MOTOR VEHICLE THEFT              |
|THEFT                            |
|BATTERY                          |
|ROBBERY                          |
|HOMICIDE                         |
|RITUALISM                        |
|PUBLIC INDECENCY                 |
|CRIM SEXUAL ASSAULT              |
|HUMAN TRAFFICKING                |
|INTIMIDATION                     |
|PROSTITUTION                     |
|DECEPTIVE PRACTICE               |
|CONCEALED CARRY LICENSE VIOLATION|
|SEX OFFENSE                      |
|CRIMINAL DAMAGE                  |
|NARCOTICS                        |
|NON-CRIMINAL                     |
|OTHER OFFENSE                    |
|KIDNAPPING                       |
|BURGLARY                         |
|WEAPONS VIOLATION                |
|OTHER NARCOTIC VIOLATION         |
|INTERFERENCE WITH PUBLIC OFFICER |
+---------------------------------+

Another field that I found interesting is Location Description. So I found how many crimes were committed based on each location. We can see in the result that Steert, residence are the most unsafe places.

Here we want the list in decending order of total number of cases and hence we are passing ascending=False to orderBy().

In [13]:
crimeData.groupBy('LocationDescription').count().orderBy('count',ascending=False).show(20, False)

+------------------------------+-------+
|LocationDescription           |count  |
+------------------------------+-------+
|STREET                        |1719290|
|RESIDENCE                     |1103634|
|APARTMENT                     |667663 |
|SIDEWALK                      |646701 |
|OTHER                         |247040 |
|PARKING LOT/GARAGE(NON.RESID.)|187034 |
|ALLEY                         |146470 |
|SCHOOL, PUBLIC, BUILDING      |139295 |
|RESIDENCE-GARAGE              |128145 |
|RESIDENCE PORCH/HALLWAY       |114000 |
|SMALL RETAIL STORE            |112943 |
|VEHICLE NON-COMMERCIAL        |103914 |
|RESTAURANT                    |99267  |
|GROCERY FOOD STORE            |84291  |
|DEPARTMENT STORE              |79655  |
|GAS STATION                   |68741  |
|RESIDENTIAL YARD (FRONT/BACK) |64893  |
|CHA PARKING LOT/GROUNDS       |54984  |
|PARK PROPERTY                 |50659  |
|COMMERCIAL / BUSINESS OFFICE  |47681  |
+------------------------------+-------+
only showing top 20 rows

But what kind of crimes were commmitted on these location. So next thing is to find number of crimes per location per crime type.

Simply pass PrimaryType as second argument to groupBy()

In [14]:
crimeData.groupBy('LocationDescription','PrimaryType').count().orderBy('count',ascending=False).show(20, False)

+------------------------------+-------------------+------+
|LocationDescription           |PrimaryType        |count |
+------------------------------+-------------------+------+
|STREET                        |THEFT              |375330|
|STREET                        |CRIMINAL DAMAGE    |270028|
|STREET                        |NARCOTICS          |249071|
|RESIDENCE                     |BATTERY            |248682|
|STREET                        |MOTOR VEHICLE THEFT|241949|
|APARTMENT                     |BATTERY            |232683|
|SIDEWALK                      |NARCOTICS          |219514|
|STREET                        |BATTERY            |212732|
|RESIDENCE                     |OTHER OFFENSE      |187422|
|SIDEWALK                      |BATTERY            |176715|
|RESIDENCE                     |THEFT              |144477|
|RESIDENCE                     |CRIMINAL DAMAGE    |141730|
|RESIDENCE                     |BURGLARY           |129608|
|APARTMENT                     |BURGLARY           |108042|
|STREET                        |ASSAULT            |83420 |
|OTHER                         |THEFT              |78528 |
|STREET                        |ROBBERY            |76356 |
|SIDEWALK                      |ROBBERY            |76206 |
|APARTMENT                     |CRIMINAL DAMAGE    |76018 |
|PARKING LOT/GARAGE(NON.RESID.)|THEFT              |69545 |
+------------------------------+-------------------+------+
only showing top 20 rows

Now we need to find what crime types are most common.

Here we will use agg() instead of count(). agg() will let us do many operations like finding maximum, minimum, sum and more.

Syntax: agg(max()) or agg(sum())

In [15]:
topPrimaryType = crimeData.groupBy('PrimaryType').agg(F.count('*').alias('Total')).orderBy('Total',ascending=False)
topPrimaryType.show(10, False)

+-------------------+-------+
|PrimaryType        |Total  |
+-------------------+-------+
|THEFT              |1361972|
|BATTERY            |1188562|
|CRIMINAL DAMAGE    |747161 |
|NARCOTICS          |699598 |
|OTHER OFFENSE      |403641 |
|ASSAULT            |400642 |
|BURGLARY           |377828 |
|MOTOR VEHICLE THEFT|305659 |
|ROBBERY            |247260 |
|DECEPTIVE PRACTICE |245842 |
+-------------------+-------+
only showing top 10 rows

But I wanted to see how many arrests have been made in each crime type.

For this we will filter data where Arrest is true and then run groupBy on PrimaryType to get the count.

In [16]:
topPrimaryTypeArrest = crimeData.filter(crimeData['Arrest'] == True).groupBy('PrimaryType').agg(F.count('*').alias('Arrest')).orderBy('Arrest',ascending=False)
topPrimaryTypeArrest.show(10, False)

+------------------+------+
|PrimaryType       |Arrest|
+------------------+------+
|NARCOTICS         |695378|
|BATTERY           |271890|
|THEFT             |163909|
|CRIMINAL TRESPASS |138302|
|ASSAULT           |93883 |
|OTHER OFFENSE     |71578 |
|PROSTITUTION      |67430 |
|CRIMINAL DAMAGE   |52980 |
|WEAPONS VIOLATION |52916 |
|DECEPTIVE PRACTICE|43348 |
+------------------+------+
only showing top 10 rows

Well we can understand this. Narcotics is the highest priority from the Chicago crime department.

But we can't really say that Narcotics is the priority untill we find how many cases were reported and how many arrests were made.

In my previous two cells, first I find the total number of cases for each crime type and then I find total number of cases where arrests were made for each crime type. For getting the percentage of arrests we need both of these columns. So we will simply join our two dataframes on 'PrimaryType' and the get the percenatge.

col() will let me perform operations on values of individual rows.

In [17]:
topPrimaryType.join(topPrimaryTypeArrest, topPrimaryType.PrimaryType ==topPrimaryTypeArrest.PrimaryType).select(topPrimaryTypeArrest['PrimaryType'],'Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).orderBy('ArrestPercentage',ascending=0).show(10,False)

+---------------------------------+------+------+-----------------+
|PrimaryType                      |Total |Arrest|ArrestPercentage |
+---------------------------------+------+------+-----------------+
|DOMESTIC VIOLENCE                |1     |1     |100.0            |
|PROSTITUTION                     |67697 |67430 |99.60559552121954|
|NARCOTICS                        |699598|695378|99.39679644595897|
|PUBLIC INDECENCY                 |150   |149   |99.33333333333333|
|GAMBLING                         |14226 |14122 |99.26894418670041|
|LIQUOR LAW VIOLATION             |13815 |13690 |99.09518639160333|
|INTERFERENCE WITH PUBLIC OFFICER |13989 |12792 |91.44327686039031|
|CONCEALED CARRY LICENSE VIOLATION|154   |139   |90.25974025974025|
|OBSCENITY                        |503   |416   |82.7037773359841 |
|WEAPONS VIOLATION                |65924 |52916 |80.26818760997513|
+---------------------------------+------+------+-----------------+
only showing top 10 rows

Yeah. So it is prostitution and narcotics. And see theft is not in top 10 list. This makes sense as most thiefs run away before one can report crime.

But what are the crime types where least number of arrest happens.

In [18]:
topPrimaryType.join(topPrimaryTypeArrest, topPrimaryType.PrimaryType ==topPrimaryTypeArrest.PrimaryType).select(topPrimaryTypeArrest['PrimaryType'],'Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).orderBy('ArrestPercentage',ascending=1).show(10,False)

+-------------------+-------+------+------------------+
|PrimaryType        |Total  |Arrest|ArrestPercentage  |
+-------------------+-------+------+------------------+
|BURGLARY           |377828 |21716 |5.747588849952889 |
|NON-CRIMINAL       |131    |8     |6.106870229007633 |
|CRIMINAL DAMAGE    |747161 |52980 |7.090841197546446 |
|MOTOR VEHICLE THEFT|305659 |28202 |9.226621823666243 |
|ROBBERY            |247260 |24130 |9.758958181671115 |
|KIDNAPPING         |6516   |733   |11.249232658072437|
|THEFT              |1361972|163909|12.034682063948452|
|RITUALISM          |23     |3     |13.043478260869565|
|ARSON              |10834  |1425  |13.153036736200848|
|HUMAN TRAFFICKING  |36     |5     |13.88888888888889 |
+-------------------+-------+------+------------------+
only showing top 10 rows

Burglary, robbery, theft are there but what I don't like is to see kidnapping also. I think kidnapping should get more priority.

But whether Chicago or any other part of the world, crime related to sex are there in all places. I wanted to see what is the arrest percentage in crimes related to sex.

For this I will simply put filter before selecting in my query.

I am using like() here which just like SQL let me do pattern matching.

In [19]:
topPrimaryType.join(topPrimaryTypeArrest, topPrimaryType.PrimaryType ==topPrimaryTypeArrest.PrimaryType).filter(topPrimaryTypeArrest['PrimaryType'].like('%SEX%')).select(topPrimaryTypeArrest['PrimaryType'],'Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).show(10,False)

+-------------------+-----+------+------------------+
|PrimaryType        |Total|Arrest|ArrestPercentage  |
+-------------------+-----+------+------------------+
|CRIM SEXUAL ASSAULT|25614|4110  |16.04591239166081 |
|SEX OFFENSE        |24073|7527  |31.267395006854155|
+-------------------+-----+------+------------------+

I don't have much knowledge about how law works in Chicago so I can't comment if this number is good or bad.

Next this is to find the blocks with maximum cases of crime.

In [20]:
topBlock = crimeData.groupBy('Block','PrimaryType').agg(F.count('*').alias('Total')).orderBy('Total',ascending=False)
topBlock.show(10, False)

+-------------------------+-------------+-----+
|Block                    |PrimaryType  |Total|
+-------------------------+-------------+-----+
|001XX N STATE ST         |THEFT        |8085 |
|076XX S CICERO AVE       |THEFT        |6677 |
|0000X N STATE ST         |THEFT        |6387 |
|008XX N MICHIGAN AVE     |THEFT        |6169 |
|100XX W OHARE ST         |THEFT        |5241 |
|100XX W OHARE ST         |OTHER OFFENSE|2568 |
|001XX W 87TH ST          |THEFT        |2408 |
|046XX W NORTH AVE        |THEFT        |2384 |
|033XX W FILLMORE ST      |NARCOTICS    |2351 |
|085XX S COTTAGE GROVE AVE|THEFT        |2225 |
+-------------------------+-------------+-----+
only showing top 10 rows

Again I want to see the arrest percentage.

In [21]:
topBlockArrest = crimeData.filter(crimeData['Arrest'] == True).groupBy('Block','PrimaryType').agg(F.count('*').alias('Arrest')).orderBy('Arrest',ascending=False)
topBlockArrest.show(10, False)

+--------------------+------------------+------+
|Block               |PrimaryType       |Arrest|
+--------------------+------------------+------+
|001XX N STATE ST    |THEFT             |5049  |
|0000X N STATE ST    |THEFT             |3851  |
|076XX S CICERO AVE  |THEFT             |3657  |
|008XX N MICHIGAN AVE|THEFT             |2719  |
|033XX W FILLMORE ST |NARCOTICS         |2333  |
|046XX W NORTH AVE   |THEFT             |1860  |
|040XX W LAKE ST     |DECEPTIVE PRACTICE|1714  |
|005XX E BROWNING AVE|NARCOTICS         |1695  |
|023XX S STATE ST    |CRIMINAL TRESPASS |1657  |
|008XX N STATE ST    |DECEPTIVE PRACTICE|1619  |
+--------------------+------------------+------+
only showing top 10 rows

In [22]:
topBlock.join(topBlockArrest, ['Block','PrimaryType']).filter(topBlock['Total'] > 1000).select('Block','PrimaryType','Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).orderBy('ArrestPercentage',ascending=0).show(30,False)

+-------------------------+------------------+-----+------+-----------------+
|Block                    |PrimaryType       |Total|Arrest|ArrestPercentage |
+-------------------------+------------------+-----+------+-----------------+
|044XX S FEDERAL ST       |NARCOTICS         |1107 |1107  |100.0            |
|051XX W MADISON ST       |NARCOTICS         |1077 |1077  |100.0            |
|036XX S FEDERAL ST       |NARCOTICS         |1128 |1127  |99.91134751773049|
|039XX W GRENSHAW ST      |NARCOTICS         |1052 |1049  |99.7148288973384 |
|038XX W ROOSEVELT RD     |NARCOTICS         |1459 |1450  |99.38313913639479|
|005XX E BROWNING AVE     |NARCOTICS         |1706 |1695  |99.35521688159437|
|033XX W FILLMORE ST      |NARCOTICS         |2351 |2333  |99.23436835389197|
|023XX S STATE ST         |NARCOTICS         |1224 |1211  |98.93790849673204|
|029XX S STATE ST         |NARCOTICS         |1126 |1114  |98.93428063943162|
|027XX S DEARBORN ST      |NARCOTICS         |1061 |1042  |98.20923656927427|
|012XX S WABASH AVE       |CRIMINAL TRESPASS |1041 |989   |95.00480307396734|
|040XX W LAKE ST          |DECEPTIVE PRACTICE|1828 |1714  |93.7636761487965 |
|022XX S STATE ST         |CRIMINAL TRESPASS |1583 |1384  |87.4289324068225 |
|100XX W OHARE ST         |CRIMINAL TRESPASS |1811 |1547  |85.42241855328547|
|083XX S STEWART AVE      |THEFT             |1129 |901   |79.80513728963685|
|013XX S CANAL ST         |THEFT             |1532 |1218  |79.50391644908616|
|023XX S STATE ST         |CRIMINAL TRESPASS |2100 |1657  |78.9047619047619 |
|046XX W NORTH AVE        |THEFT             |2384 |1860  |78.02013422818791|
|008XX N STATE ST         |DECEPTIVE PRACTICE|2091 |1619  |77.42706838833094|
|032XX W ROOSEVELT RD     |THEFT             |1587 |1213  |76.43352236925016|
|021XX E 71ST ST          |THEFT             |1491 |1110  |74.44668008048289|
|043XX N SHERIDAN RD      |THEFT             |1057 |767   |72.56385998107852|
|060XX N BROADWAY         |THEFT             |1213 |851   |70.15663643858203|
|053XX N BROADWAY         |THEFT             |1108 |767   |69.22382671480143|
|017XX W HOWARD ST        |THEFT             |1864 |1277  |68.50858369098712|
|012XX S ASHLAND AVE      |THEFT             |1284 |851   |66.27725856697819|
|045XX S DAMEN AVE        |THEFT             |1122 |729   |64.97326203208557|
|052XX N SHERIDAN RD      |THEFT             |1058 |684   |64.65028355387523|
|047XX W IRVING PARK RD   |THEFT             |1503 |966   |64.27145708582835|
|085XX S COTTAGE GROVE AVE|THEFT             |2225 |1422  |63.91011235955057|
+-------------------------+------------------+-----+------+-----------------+
only showing top 30 rows

As expected, Narcotics.

In [23]:
topBlock.join(topBlockArrest, ['Block','PrimaryType']).filter(topBlock['Total'] > 1000).select('Block','PrimaryType','Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).orderBy('ArrestPercentage',ascending=1).show(30,False)

+-----------------------------------+------------------+-----+------+------------------+
|Block                              |PrimaryType       |Total|Arrest|ArrestPercentage  |
+-----------------------------------+------------------+-----+------+------------------+
|100XX W OHARE ST                   |OTHER OFFENSE     |2568 |91    |3.543613707165109 |
|0000X N MICHIGAN AVE               |THEFT             |1024 |39    |3.80859375        |
|001XX E WACKER DR                  |THEFT             |1078 |47    |4.3599257884972165|
|002XX N MICHIGAN AVE               |THEFT             |1021 |64    |6.268364348677767 |
|051XX S PULASKI RD                 |THEFT             |1044 |66    |6.321839080459771 |
|057XX S CICERO AVE                 |THEFT             |1264 |83    |6.5664556962025316|
|100XX W OHARE ST                   |THEFT             |5241 |359   |6.849837817210457 |
|006XX E GRAND AVE                  |THEFT             |1326 |91    |6.862745098039216 |
|0000X E JACKSON BLVD               |THEFT             |1155 |88    |7.6190476190476195|
|009XX W BELMONT AVE                |THEFT             |1053 |101   |9.591642924976258 |
|0000X W TERMINAL ST                |THEFT             |1645 |166   |10.091185410334347|
|005XX N MICHIGAN AVE               |THEFT             |1761 |285   |16.183986371379895|
|005XX N STATE ST                   |THEFT             |1210 |201   |16.611570247933884|
|064XX W FULLERTON AVE              |THEFT             |1214 |233   |19.192751235584844|
|012XX N CLARK ST                   |THEFT             |1166 |258   |22.126929674099486|
|006XX N MICHIGAN AVE               |THEFT             |2151 |478   |22.22222222222222 |
|011XX S CANAL ST                   |THEFT             |1503 |339   |22.55489021956088 |
|063XX S DR MARTIN LUTHER KING JR DR|BATTERY           |1147 |260   |22.667829119442022|
|064XX S DR MARTIN LUTHER KING JR DR|BATTERY           |1352 |313   |23.150887573964496|
|009XX N MICHIGAN AVE               |THEFT             |1778 |437   |24.578177727784027|
|100XX W OHARE ST                   |DECEPTIVE PRACTICE|1387 |399   |28.767123287671232|
|0000X E GRAND AVE                  |THEFT             |1558 |569   |36.5211810012837  |
|075XX S STONY ISLAND AVE           |THEFT             |1499 |589   |39.29286190793862 |
|001XX S STATE ST                   |THEFT             |1019 |422   |41.41315014720314 |
|031XX N CLARK ST                   |THEFT             |1455 |635   |43.6426116838488  |
|008XX N MICHIGAN AVE               |THEFT             |6169 |2719  |44.0752147835954  |
|001XX N STATE ST                   |DECEPTIVE PRACTICE|1514 |747   |49.339498018494055|
|070XX S PULASKI RD                 |THEFT             |1016 |512   |50.39370078740157 |
|001XX W 87TH ST                    |THEFT             |2408 |1226  |50.91362126245848 |
|026XX N ELSTON AVE                 |THEFT             |2140 |1146  |53.55140186915888 |
+-----------------------------------+------------------+-----+------+------------------+
only showing top 30 rows

And of course a clear winner here as well.

But what blocks reported maximum cases related to sexual offence.

In [24]:
topBlock.filter(topBlock['PrimaryType'].like('%SEX%')).show()

+--------------------+-------------------+-----+
|               Block|        PrimaryType|Total|
+--------------------+-------------------+-----+
|  044XX N SIMONDS DR|        SEX OFFENSE|   76|
|    004XX S STATE ST|        SEX OFFENSE|   58|
|031XX W DOUGLAS BLVD|        SEX OFFENSE|   49|
|   012XX S DAMEN AVE|        SEX OFFENSE|   44|
|011XX S HAMILTON AVE|        SEX OFFENSE|   35|
|    100XX W OHARE ST|        SEX OFFENSE|   35|
|    002XX E HURON ST|CRIM SEXUAL ASSAULT|   33|
|063XX S DR MARTIN...|CRIM SEXUAL ASSAULT|   30|
| 009XX W BELMONT AVE|        SEX OFFENSE|   30|
|003XX W MONTROSE ...|        SEX OFFENSE|   27|
|    001XX N STATE ST|        SEX OFFENSE|   27|
|075XX S STONY ISL...|CRIM SEXUAL ASSAULT|   27|
|  046XX N SIMONDS DR|        SEX OFFENSE|   26|
|   048XX N MARINE DR|CRIM SEXUAL ASSAULT|   25|
|     0000X W 95TH ST|        SEX OFFENSE|   25|
|     003XX W 64TH ST|CRIM SEXUAL ASSAULT|   21|
| 0000X W DIVISION ST|CRIM SEXUAL ASSAULT|   21|
|0000X E ROOSEVELT RD|        SEX OFFENSE|   21|
|065XX S DR MARTIN...|CRIM SEXUAL ASSAULT|   20|
|064XX S DR MARTIN...|CRIM SEXUAL ASSAULT|   20|
+--------------------+-------------------+-----+
only showing top 20 rows

Let me set spark.sql.shuffle.partitions to 32 which is 200 by default. This number decides how many tasks will be created. You don't want to create 200 task in each use case. For this I think 32 is fine.

In [25]:
spark.conf.set('spark.sql.shuffle.partitions','32')

Here I want to see which block made maximum arrests in each of crimes related to sexual offence.

In [26]:
topBlock.join(topBlockArrest, ['Block','PrimaryType']).filter(topBlock['PrimaryType'].like('%SEX%')).filter(topBlock['Total']>15).select('Block','PrimaryType','Total','Arrest', (F.col('Arrest')/F.col('Total')*100).alias('ArrestPercentage')).orderBy('ArrestPercentage',ascending=0).show(30,False)

+-----------------------------------+-------------------+-----+------+------------------+
|Block                              |PrimaryType        |Total|Arrest|ArrestPercentage  |
+-----------------------------------+-------------------+-----+------+------------------+
|046XX N SIMONDS DR                 |SEX OFFENSE        |26   |25    |96.15384615384616 |
|044XX N SIMONDS DR                 |SEX OFFENSE        |76   |72    |94.73684210526315 |
|002XX W MONTROSE HARBOR DR         |SEX OFFENSE        |17   |16    |94.11764705882352 |
|052XX N CICERO AVE                 |SEX OFFENSE        |17   |15    |88.23529411764706 |
|004XX S STATE ST                   |SEX OFFENSE        |58   |49    |84.48275862068965 |
|003XX W MONTROSE HARBOR DR         |SEX OFFENSE        |27   |19    |70.37037037037037 |
|009XX W BELMONT AVE                |SEX OFFENSE        |30   |19    |63.33333333333333 |
|001XX N STATE ST                   |SEX OFFENSE        |27   |17    |62.96296296296296 |
|076XX S CICERO AVE                 |SEX OFFENSE        |16   |10    |62.5              |
|100XX W OHARE ST                   |SEX OFFENSE        |35   |20    |57.14285714285714 |
|0000X E ROOSEVELT RD               |SEX OFFENSE        |21   |12    |57.14285714285714 |
|016XX W HOWARD ST                  |SEX OFFENSE        |17   |9     |52.94117647058824 |
|0000X W 95TH ST                    |SEX OFFENSE        |25   |12    |48.0              |
|008XX E 103RD ST                   |SEX OFFENSE        |16   |7     |43.75             |
|081XX S MAY ST                     |SEX OFFENSE        |16   |7     |43.75             |
|001XX W LAKE ST                    |SEX OFFENSE        |19   |8     |42.10526315789473 |
|011XX S HAMILTON AVE               |SEX OFFENSE        |35   |13    |37.142857142857146|
|009XX W FULLERTON AVE              |SEX OFFENSE        |18   |4     |22.22222222222222 |
|049XX W MADISON ST                 |CRIM SEXUAL ASSAULT|16   |3     |18.75             |
|081XX S STONY ISLAND AVE           |CRIM SEXUAL ASSAULT|19   |3     |15.789473684210526|
|065XX S DR MARTIN LUTHER KING JR DR|CRIM SEXUAL ASSAULT|20   |3     |15.0              |
|063XX S DR MARTIN LUTHER KING JR DR|CRIM SEXUAL ASSAULT|30   |4     |13.333333333333334|
|040XX W MADISON ST                 |CRIM SEXUAL ASSAULT|16   |2     |12.5              |
|035XX S RHODES AVE                 |CRIM SEXUAL ASSAULT|17   |2     |11.76470588235294 |
|012XX S DAMEN AVE                  |SEX OFFENSE        |44   |5     |11.363636363636363|
|100XX S HALSTED ST                 |CRIM SEXUAL ASSAULT|19   |2     |10.526315789473683|
|039XX S MICHIGAN AVE               |CRIM SEXUAL ASSAULT|19   |2     |10.526315789473683|
|031XX W DOUGLAS BLVD               |SEX OFFENSE        |49   |5     |10.204081632653061|
|0000X W DIVISION ST                |CRIM SEXUAL ASSAULT|21   |2     |9.523809523809524 |
|048XX N MARINE DR                  |CRIM SEXUAL ASSAULT|25   |2     |8.0               |
+-----------------------------------+-------------------+-----+------+------------------+
only showing top 30 rows

Next thing I want to find out is the months where maximum crime is reported over the years and see if there is something comman.

Import Window from pyspark.sql

The reason we are using window here because we need to find month in each year where maximum number of crimes were reported.

What I am going to do here is to group my data according to month and year and then count. Then I will find the rank of each month per year based on the maximum count. We will use rank() which is a windowing function.

There must a different and/or better solution for this but as of now I know only this.

In [27]:
from pyspark.sql import Window

In [28]:
monthlyCount=crimeData.groupBy(F.month('ReportedTime').alias('Month'),F.year('ReportedTime').alias('Year')).agg(F.count('*').alias('Total')).select('Year','Month','Total',(F.rank().over(Window.partitionBy('Year').orderBy(F.col('Total').desc()))).alias('Rank'))
monthlyCount.filter(monthlyCount['Rank'] ==1).orderBy('Year').show()

+----+-----+-----+----+
|Year|Month|Total|Rank|
+----+-----+-----+----+
|2001|    7|44690|   1|
|2002|    7|46013|   1|
|2003|    8|44264|   1|
|2004|    7|43235|   1|
|2005|    7|41804|   1|
|2006|    7|41542|   1|
|2007|    7|40986|   1|
|2008|    8|40536|   1|
|2009|    8|35819|   1|
|2010|    8|34145|   1|
|2011|    7|33242|   1|
|2012|    7|31958|   1|
|2013|    8|28630|   1|
|2014|    7|26511|   1|
|2015|    8|24743|   1|
|2016|    8|24823|   1|
|2017|    7|24723|   1|
+----+-----+-----+----+

In [29]:
monthlyCount.filter(monthlyCount['Rank'] <=2).orderBy('Year','Rank').show(40)

+----+-----+-----+----+
|Year|Month|Total|Rank|
+----+-----+-----+----+
|2001|    7|44690|   1|
|2001|    8|44032|   2|
|2002|    7|46013|   1|
|2002|    8|44210|   2|
|2003|    8|44264|   1|
|2003|    7|43415|   2|
|2004|    7|43235|   1|
|2004|    8|43044|   2|
|2005|    7|41804|   1|
|2005|    8|41541|   2|
|2006|    7|41542|   1|
|2006|    8|40493|   2|
|2007|    7|40986|   1|
|2007|    5|40084|   2|
|2008|    8|40536|   1|
|2008|    7|40483|   2|
|2009|    8|35819|   1|
|2009|    7|35668|   2|
|2010|    8|34145|   1|
|2010|    7|33507|   2|
|2011|    7|33242|   1|
|2011|    8|32576|   2|
|2012|    7|31958|   1|
|2012|    6|31066|   2|
|2013|    8|28630|   1|
|2013|    7|28605|   2|
|2014|    7|26511|   1|
|2014|    8|25837|   2|
|2015|    8|24743|   1|
|2015|    7|24158|   2|
|2016|    8|24823|   1|
|2016|    7|24786|   2|
|2017|    7|24723|   1|
|2017|    8|24591|   2|
+----+-----+-----+----+

So month 7 and 8 are clear winner here.

# That's it for this notebook. I think we have covered many basic dataframe APIs. Of course there are more APIs, but once we know that basic we can play with others on our own.

## Note:
I am a newbie in apache spark. So this is what I have learned so far. My focus here was to show how we can use datafram APIs rather than writing optimized queries.